@model Asesor
@{
    ViewData["Title"] = "Registro";
}

<style>
    .container {
        width: 90%;
        min-width: 85%;
        height: 60vh;
        margin: auto;
        background-color: rgba(227, 227, 227, 0.215);
        padding: 10px;
        border: 1px solid black;
    }

    .contenedor {
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedor .row {
        width: 70%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .top-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid black;
    }

    .top-left {
        width: auto;
    }

    .top-left nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-left nav a,
    .top-left nav span {
        margin-right: 5px;
    }

    .top-mid {
        width: auto;
    }

    .user-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        align-content: center;
    }

    .user-box i {
        font-size: 12px;
        color: blue;
        border: 1px solid blue;
        padding: 4px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .top-right {
        width: auto;
    }

    .top-right i {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        border: 1px solid red;
        padding: 5px;
        border-radius: 50%;
    }

    .top-right i:hover {
        font-size: 12px;
        color: black;
        background-color: red;
        border: 1px solid red;
        cursor: pointer;
        padding: 6px;
        border-radius: 40%;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1);
        transition-duration: 0.2s;
    }

    .container-contain {
        width: 100%;
        @*background-color:rgb(200,255,3);*@height: 300px;
    }

    h3 {
        color: rgb(156, 189, 37);
    }

    .container-opciones {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    .col a {
        width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .col a:hover {
        background-color: blue;
        color: white;
    }

    .btn-regresar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="contenedor">
    <div class="row">
        <div class="col">
            <h2 class="text-primary text-center mb-3">Registrate en <b>Riwi Salud</b></h2>
            <form asp-controller="Asesores" asp-action="Registro" method="post">

                <div class="form-group mt-3">
                    <label asp-for="Nombres">Ingrese su Nombre:</label>
                    <input asp-for="Nombres" class="form-control" type="text" placeholder="Ejemplo: Carlos">
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Apellidos">Ingrese su Apellido:</label>
                    <input asp-for="Apellidos" class="form-control" type="text" placeholder="Ejemplo: Ruiz">
                    <span asp-validation-for="Apellidos" class="text-danger"></span>

                </div>

                <div class="form-group mt-3">
                    <label asp-for="Correo">Ingrese su Correo:</label>
                    <input asp-for="Correo" class="form-control" type="email"
                        placeholder="Ejemplo: Carlos.121@gmail.com">
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Contrase単a">Ingrese su Contrase単a:</label>
                    <input asp-for="Contrase単a" class="form-control" type="password" placeholder="**********">
                    <span asp-validation-for="Contrase単a" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Modulo">Ingrese su Modulo:</label>
                    <input asp-for="Modulo" class="form-control" type="text" placeholder="Ejemplo: MCE023">
                    <span asp-validation-for="Modulo" class="text-danger"></span>
                </div>

                <div class="form-group d-flex justify-content-center mt-3">
                    <button asp-form="Asesores" asp-action="Registro" class="btn btn-primary">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>
